.rouletteLayout {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.rouletteContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.roulette, .betManager {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 125px;
  height: 650px;
  overflow: hidden;
}

#myCanvas {
  width: 650px;
  height: 650px;
}

canvas {
  position: absolute;
  top: 0;

  transition: transform 4s;
}

.countdown {
  position: absolute;
  top: 320px;
  z-index: 1;
  color: #00adb5;
  font-size: 1.5rem;
}

.positionsLayout {
  margin-top: 50px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.marker {
  position: absolute;
  top: -5px;
  background-color: white;
  z-index: 1;
  width: 3px;
  outline: 2px solid black;
  height: 25px;
}