.chatContainer {
  flex-grow: 1;
  width: 100%;
}

.chatLimiter {
  height: 1px;
  width: 100%;
  background-color: #00adb5;
  margin-bottom: 10px;
}

.chatLabel {
  margin: 0 auto;
  color: #00adb5;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatBox {  
  display: flex;
  flex-direction: row;

  margin: 10px;
  width: calc(100% - 20px);
  
  bottom: 0px;
}

.chatWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
}

.msgForm {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.msgTextinput {
  flex-grow: 2;
  width: 80%;
  height: 35px;

  border: 1px solid #00adb5;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  background-color: #151515;
}

.msgTextinput:active {
  background-color: #191919;
}

.msgSubmit {
  background-color: #151515;
  color: white;
  border: 1px solid #00adb5;
  border-radius: 8px;
  margin-left: 4px;
  flex-grow: 1;
}

.msgSubmit:hover {
  
}