.rowStatContainer {
  margin: 5px;
  min-width: 75px;
  min-height: 50px;
  background-color: indigo;
  color: white;
  border-radius: 5px;

  padding: 0px 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  -webkit-box-shadow: 3px 3px 0px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 3px 0px -1px rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 0px -1px rgba(0, 0, 0, 1);

  box-sizing: border-box;
  transition: outline 0.1s;
}

.rowStatContainer:hover {
  outline: 5px solid white;
  cursor: cell;
}