.App {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  font-weight: bold;

  background-color: #151515;
}

.contentContainer {
  flex-grow: 1;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.modal-space {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.tmpStyles-DO-NOT-USE {
  /*
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
  */

  /* iOS Safari */
  /* Safari */
  /* Konqueror HTML */
  /* Old versions of Firefox */
  /* Internet Explorer/Edge */
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

